In [1125]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import folium

Celem jest predykcja ceny nieruchomości.

Zbiór danych zawiera 4802 instancje i kolumny określające:

BROKERTITLE: Title of the broker
TYPE: Type of the house
PRICE: Price of the house
BEDS: Number of bedrooms
BATH: Number of bathrooms
PROPERTYSQFT: Square footage of the property
ADDRESS: Full address of the house
STATE: State of the house
MAIN_ADDRESS: Main address information
ADMINISTRATIVE_AREA_LEVEL_2: Administrative area level 2 information
LOCALITY: Locality information
SUBLOCALITY: Sublocality information
STREET_NAME: Street name
LONG_NAME: Long name
FORMATTED_ADDRESS: Formatted address
LATITUDE: Latitude coordinate of the house
LONGITUDE: Longitude coordinate of the house

In [1126]:
import pandas as pd
url = 'NY-House-Dataset.csv'
data = pd.read_csv(url, sep= ';')

In [1127]:
data

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,Brokered by COMPASS,Co-op for sale,599000,1,1.000000,2184.207862,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York,New York County,New York,Manhattan,222,"222 E 80th St #3a, New York, NY 10075, USA",40.774350,-73.955879
4797,Brokered by Mjr Real Estate Llc,Co-op for sale,245000,1,1.000000,2184.207862,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,New York,Queens County,Queens,62nd Drive,"97-40 62nd Dr, Rego Park, NY 11374, USA",40.732538,-73.860152
4798,Brokered by Douglas Elliman - 575 Madison Ave,Co-op for sale,1275000,1,1.000000,2184.207862,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,New York,New York County,New York,West 21st Street,"427 W 21st St, New York, NY 10011, USA",40.745882,-74.003398
4799,Brokered by E Realty International Corp,Condo for sale,598125,2,1.000000,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,Queens County,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.742770,-73.872752
4800,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.000000,750.000000,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.579147,-73.970949

Podział kolumn na dwie kategorie: dane numeryczne i dane kategoryczne.

In [1128]:
numeric_columns = {'PRICE', 'BEDS','BATH', 'PROPERTYSQFT', 'LATITUDE', 'LONGITUDE'}
category_columns = {'TYPE', 'BROKERTITLE', 'STATE', 'LONG_NAME', 'LOCALITY', 'ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2', 'SUBLOCALITY', 'MAIN_ADDRESS', 'FORMATTED_ADDRESS', 'STREET_NAME'}

Zmienienie liter na małe w celu ujednolicenia danych.

In [1129]:
for column in category_columns:
    data[column] = data[column].str.lower()

Sprawdzenie unikalnych wartości oraz charakterystyki zbioru danych.

In [1130]:
data[list(category_columns)].nunique()

BROKERTITLE                    1011
STREET_NAME                     174
ADMINISTRATIVE_AREA_LEVEL_2      29
LOCALITY                         11
MAIN_ADDRESS                   4583
SUBLOCALITY                      21
FORMATTED_ADDRESS              4550
TYPE                             13
ADDRESS                        4582
STATE                           308
LONG_NAME                      2731
dtype: int64

In [1131]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   BROKERTITLE                  4801 non-null   object
 1   TYPE                         4801 non-null   object
 2   PRICE                        4801 non-null   int64
 3   BEDS                         4801 non-null   int64
 4   BATH                         4801 non-null   float64
 5   PROPERTYSQFT                 4801 non-null   float64
 6   ADDRESS                      4801 non-null   object
 7   STATE                        4801 non-null   object
 8   MAIN_ADDRESS                 4801 non-null   object
 9   ADMINISTRATIVE_AREA_LEVEL_2  4801 non-null   object
 10  LOCALITY                     4801 non-null   object
 11  SUBLOCALITY                  4801 non-null   object
 12  STREET_NAME                  4801 non-null   object
 13  LONG_NAME                    4801 non-null   object
 14  FORMATTED_ADDRESS            4801 non-null   object
 15  LATITUDE                     4801 non-null   float64
 16  LONGITUDE                    4801 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 637.8+ KB

In [1132]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
PRICE,4801.0,2.356940e+06,3.135525e+07,2494.000000,499000.000000,825000.000000,1.495000e+06,2.147484e+09
BEDS,4801.0,3.356801e+00,2.602315e+00,1.000000,2.000000,3.000000,4.000000e+00,5.000000e+01
BATH,4801.0,2.373861e+00,1.946962e+00,0.000000,1.000000,2.000000,3.000000e+00,5.000000e+01
PROPERTYSQFT,4801.0,2.184208e+03,2.377141e+03,230.000000,1200.000000,2184.207862,2.184208e+03,6.553500e+04
LATITUDE,4801.0,4.071423e+01,8.767557e-02,40.499546,40.639375,40.726749,4.077192e+01,4.091273e+01
LONGITUDE,4801.0,-7.394160e+01,1.010825e-01,-74.253033,-73.987143,-73.949189,-7.387064e+01,-7.370245e+01

In [1133]:
data.head()

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,brokered by douglas elliman -111 fifth ave,condo for sale,315000,2,2.000000,1400.0,2 e 55th st unit 803,"new york, ny 10022","2 e 55th st unit 803new york, ny 10022",new york county,new york,manhattan,east 55th street,regis residence,"regis residence, 2 e 55th st #803, new york, n...",40.761255,-73.974483
1,brokered by serhant,condo for sale,195000000,7,10.000000,17545.0,central park tower penthouse-217 w 57th new yo...,"new york, ny 10019",central park tower penthouse-217 w 57th new yo...,united states,new york,new york county,new york,west 57th street,"217 w 57th st, new york, ny 10019, usa",40.766393,-73.980991
2,brokered by sowae corp,house for sale,260000,4,2.000000,2015.0,620 sinclair ave,"staten island, ny 10312","620 sinclair avestaten island, ny 10312",united states,new york,richmond county,staten island,sinclair avenue,"620 sinclair ave, staten island, ny 10312, usa",40.541805,-74.196109
3,brokered by compass,condo for sale,69000,3,1.000000,445.0,2 e 55th st unit 908w33,"manhattan, ny 10022","2 e 55th st unit 908w33manhattan, ny 10022",united states,new york,new york county,new york,east 55th street,"2 e 55th st, new york, ny 10022, usa",40.761398,-73.974613
4,brokered by sotheby's international realty - e...,townhouse for sale,55000000,7,2.373861,14175.0,5 e 64th st,"new york, ny 10065","5 e 64th stnew york, ny 10065",united states,new york,new york county,new york,east 64th street,"5 e 64th st, new york, ny 10065, usa",40.767224,-73.969856

Sprawdzenie braków danych.

In [1134]:
data.isna().sum()

BROKERTITLE                    0
TYPE                           0
PRICE                          0
BEDS                           0
BATH                           0
PROPERTYSQFT                   0
ADDRESS                        0
STATE                          0
MAIN_ADDRESS                   0
ADMINISTRATIVE_AREA_LEVEL_2    0
LOCALITY                       0
SUBLOCALITY                    0
STREET_NAME                    0
LONG_NAME                      0
FORMATTED_ADDRESS              0
LATITUDE                       0
LONGITUDE                      0
dtype: int64

Sprawdzenie ilościi zduplikowanych wierszy i ich usunięcie.

In [1135]:
print('Duplicated rows: ', data.duplicated().sum())
data.drop_duplicates(inplace=True)

Duplicated rows:  214

Usunięcie w kolumnie „BROKERTITLE” ciągów znaków 'llc', 'inc', zamiana wartości 'rlty' na 'realty' i zapisanie wyników tych zmian w nowej kolumnie „Broker”.

BROKERTITLE

In [1136]:
data['BROKER'] = data['BROKERTITLE'].str.replace('llc','')
data['BROKER'] = data['BROKER'].str.replace('inc','')
data['BROKER'] = data['BROKER'].str.replace('rlty','realty')
data['BROKER'] = data['BROKER'].str.replace('.','')
def split_by_delimeter(value, separator):
    result = value.split(separator)[0] if separator in value else value
    result = result.strip()
    return result

data['BROKER'] = data['BROKER'].apply(lambda x: split_by_delimeter(x, ' -'))

TYPE

In [1137]:
data.loc[data['TYPE'] == 'land for sale', ['BATH', 'BEDS']]

          BATH  BEDS
75    2.373861     3
77    2.373861     3
78    2.373861     3
360   2.373861     3
377   2.373861     3
392   2.373861     3
397   2.373861     3
400   2.000000     3
401   2.373861     3
402   2.373861     3
406   2.373861     3
407   2.373861     3
408   2.373861     3
409   2.373861     3
410   2.373861     3
411   2.373861     3
412   2.373861     3
413   2.373861     3
414   2.373861     3
416   2.373861     3
417   2.373861     3
418   2.373861     3
419   2.373861     3
420   2.373861     3
422   2.373861     3
424   2.373861     3
425   2.373861     3
426   2.373861     3
427   2.373861     3
431   2.373861     3
458   2.373861     3
481   2.373861     3
528   2.373861     3
1262  2.373861     3
1418  2.373861     3
1616  2.373861     3
2429  2.373861     3
3094  2.373861     3
3513  2.373861     3
3599  2.373861     3
3756  2.373861     3
4003  2.373861     3
4085  2.373861     3
4101  2.373861     3
4529  2.373861     3
4570  2.373861     3
4727  2.373861     3

W kolumnie „TYPE” ciąg znaków "condop" zmieniony na "condo". 

Stworzenie nowej kolumny „ANNOUNCEMENT_TYPE” która przypisuje ogłoszeniom odpowiednie kategorie na podstawie ich typu ('TYPE') przy użyciu wcześniej zdefiniowanego słownika. 

Usuwamy również ciąg znaków „for sale” z wartości w kolumnie TYPE.

In [1138]:
#Zamieniamy liczbe łazienek i sypialni na zero dla ogłoszeń, które są dla sprzedaży działki
data.loc[data['TYPE'] == 'land for sale', ['BATH', 'BEDS']]= 0
data["TYPE"] = data["TYPE"].str.replace('condop', 'condo')

data['ANNOUNCEMENT_TYPE'] = data['TYPE'].replace({
                                    'condo for sale': 'apartment',
                                     'townhouse for sale': 'home',
                                     'house for sale': 'home',
                                     'multi-family home for sale': 'home',
                                     'co-op for sale': 'co-op',
                                     'mobile house for sale': 'home',
                                     'land for sale': 'land',
                                     'foreclosure': 'other',
                                     'contingent': 'other',
                                     'pending': 'other',
                                     'coming soon': 'other',
                                    'for sale': 'other'})
data["TYPE"] = data["TYPE"].str.replace(" for sale", "")

PRICE - W kolumnie „PRICE” usuwamy wiersze, dla których cena jest większa niż 100 000 000 lub mniejsza niż 10 000 i zmienienie typ danych na liczby zmiennoprzecinkowe.

In [ ]:
fig, axes = plt.subplots(3,2, figsize=(16, 12))
axes = axes.flatten()

i=0
for column in numeric_columns:
    sns.histplot(x=data[column], ax=axes[i])
    i=i+1

plt.show()

In [ ]:
data.drop(data.loc[(data["PRICE"] > 100000000) | (data["PRICE"]<10000)].index, inplace= True)
data['PRICE'] = data['PRICE'].astype(float)

BATH, BEDS

In [ ]:
data['BATH'].value_counts()

In [ ]:
data['BEDS'].value_counts()

Utworzenie nowej kolumny „PROPERTYSQFT1000”, w której wartości są obliczane przez podzielenie wartości w kolumnie 'PROPERTYSQFT' przez 1000, zaokrąglając wynik w dół do liczby całkowitej , w celu znalezienia wartości odstających. 

Zostały pozostawione wiersze z wartościami dla których metraż nieruchomości podzielony przez 1000 mieści się w zakresie od 0 do 8.

Pozostawiono wiersze z kolumny „BATH”, w których liczba łazienek mieści się w zakresie od 0 do 10, ze względu na małą ilość wystąpień wartości spoza tego przedziału.

Pozostawiono wiersze z kolumny „BEDS” w których liczba sypialni mieści się w zakresie od 0 do 12, ze względu na małą ilość wystąpień wartości spoza tego przedziału.

In [ ]:
data['PROPERTYSQFT1000'] = data['PROPERTYSQFT'].apply(lambda x: x//1000)
data['PROPERTYSQFT1000'].value_counts()

In [ ]:
data = data[(data['BATH'] >= 0) & (data['BATH'] <= 10)]
data = data[(data['BEDS'] >= 0) & (data['BEDS'] <= 12)]
data['BATH'] = data['BATH'].apply(lambda x: x if float.is_integer(x) else int(x))
data = data[(data['PROPERTYSQFT1000'] >= 0) & (data['PROPERTYSQFT1000'] <= 8)]

data['PROPERTYSQFT'] = data['PROPERTYSQFT'].round(2)

Cleaning adresses

In [ ]:
data_api = data.copy()

Usunięcie kolumny „MAIN ADDRESS”, ponieważ jest połączeniem kolumn „ADRESS” i „STATE”.

In [ ]:
(data["ADDRESS"] + data["STATE"] == data["MAIN_ADDRESS"]).unique()
data.drop("MAIN_ADDRESS", axis=1, inplace=True)

Utworzenie słownika „dictLocality”, który mapuje nazwy hrabstw na nazwy dzielnic w Nowym Jorku. 

Stworzenie listy „listOfBoroughs” zawierającej nazwy dzielnic (wartości powyżej wspomnianego słownika).

In [ ]:
dictLocality = {"new york county": "manhattan",  "kings county":"brooklyn","bronx county":"the bronx", "richmond county": "staten island", "queens county":"queens"}
listOfBoroughs = list(dictLocality.values())

Zamieniamy wartości wystepujace jako klucze w słowniku na odpowiadające im wartości we wszystkich kolumnach.

In [ ]:
for c in list(data.columns):
  for i in list(dictLocality.keys()):
    data[c] = data[c].astype(str).str.replace(i, dictLocality[i])

In [ ]:
# Słownik mapujący skrócone i niepoprawne nazwy stanów i dzielnic na ich poprawne nazwy
state_replacements = {
    'nyc': 'new york',
    'ny': 'new york',
    'new yorkc': 'new york',
    'new york city': 'new york',
    r'kew gardens hill(?!s)': 'kew garden hills',
    r'kew gardens(?! hills)': 'kew garden hills',
    'kew gardens hills': 'kew garden hills',
    'kew gardens hillss': 'kew garden hills',
    r'(?<!\bthe\s)bronx new york': 'the bronx',
    'queens village': 'queens',
    r'(?<!\bthe\s)bronx ny': 'the bronx',
    'brooklyn heights': 'brooklyn',
    r'\b(?<!\bthe\s)(?<!\beast\s)(?<!\bwest\s)bronx\b': 'the bronx'
}


for col in ["ADDRESS", "ADMINISTRATIVE_AREA_LEVEL_2", "STATE", "LOCALITY", "SUBLOCALITY", "STREET_NAME", "LONG_NAME", "FORMATTED_ADDRESS"]:
  for i in list(state_replacements.keys()):
    data[col] = data[col].str.replace(i, state_replacements[i], regex=True)

In [ ]:
print(data["LOCALITY"].unique())
# Przypisanie wartości z kolumny "LOCALITY" do kolumny "BOROUGH", jeśli wartość znajduje się w liście istOfBoroughs.
data.loc[data["LOCALITY"].isin(listOfBoroughs), "BOROUGH"] = data['LOCALITY']
print(data["BOROUGH"].unique())
# Jeżeli wartość w kolumnie LOCALITY to flatbush to przepisujemy tą wartość do kolumny NEIGHBOURHOOD
data.loc[data["LOCALITY"] == "flatbush", "NEIGHBOURHOOD"] = data['LOCALITY']

In [ ]:
print(data["SUBLOCALITY"].unique())
# Przepisanie wartości z SUBLOCALITY do kolumny BOROUGH, jeśli wartość jest zawarta w listOfBoroughs oraz komórka w kolumnie BOROUGH jest pusta.
data.loc[(data["SUBLOCALITY"].isin(listOfBoroughs)) &(data["BOROUGH"].isna()) , "BOROUGH"] = data["SUBLOCALITY"]

# Jeżeli kolumna SUBLOCALITY zawiera "snyder avenue" to przepisujemy tą wartość do kolumny STREET.
data.loc[data["SUBLOCALITY"] == "snyder avenue" , "STREET"] = data["SUBLOCALITY"]

# Jeśli wartość w kolumnie SUBLOCALITY nie znajduje się w listOfBoroughs, nie jest równa "new york" ani "snyder avenue" to przypisujemy tą wartość do odpowiadającej komórki w kolumnie NEIGHBOURHOOD.
data.loc[(data["SUBLOCALITY"].isin(list(filter(lambda x: x not in listOfBoroughs, list(data["SUBLOCALITY"]))))) & (~(data["SUBLOCALITY"].isin(["new york", "snyder avenue"]))) , "NEIGHBOURHOOD"] = data["SUBLOCALITY"]

In [ ]:
data

In [ ]:
print(data["ADMINISTRATIVE_AREA_LEVEL_2"].unique())
#Jeśli wartość z kolumny ADMINISTRATIVE_AREA_LEVEL_2 znajduje się w listOfBoroughs, a kolumna "BOROUGH" jest pusta to uzupełniamy kolumne Borough sprawdzaną wartością.
data.loc[(data["ADMINISTRATIVE_AREA_LEVEL_2"].isin(listOfBoroughs)) &(data["BOROUGH"].isna()) , "BOROUGH"] = data["ADMINISTRATIVE_AREA_LEVEL_2"]

# Uzupełnienie kolumny POSTCODE wartościami z kolumny ADMINISTRATIVE_AREA_LEVEL_2, jeśli nie są zawarte w listOfBoroughs, nie są równe "new york" ani "united states".
data.loc[(data["ADMINISTRATIVE_AREA_LEVEL_2"].isin(list(filter(lambda x: x not in listOfBoroughs, list(data["ADMINISTRATIVE_AREA_LEVEL_2"]))))) & (data["ADMINISTRATIVE_AREA_LEVEL_2"] != "new york") & (data["ADMINISTRATIVE_AREA_LEVEL_2"] != "united states") , "POSTCODE"] = data["ADMINISTRATIVE_AREA_LEVEL_2"]

In [ ]:
data["STREET_NAME"].unique()

In [ ]:
len(data["STREET_NAME"].unique())

Utworzenie słownika z rozwinięciami skrótów i zamiana wartości z kolumny na wartości ze słownika. Nazwy ulicy zostają dodane do kolumny "streets", jeśli zawierają jedno ze słów kluczowych.
Przypisanie wartości z kolumn do kolumn dla wierszy, w których wartość znajduje się na liście i jednocześnie wartość w kolumnie jest pusta np. kolumny "STREET_NAME" i "BOROUGH", "STREET_NAME" i "NEIGHBOURHOOD", "STREET_NAME" i "STREET" .
Uzupełnienie brakujących informacji w w kolumnach "POSTCODE", "BOROUGH" i "NEIGHBOURHOOD". Przypisanie wartości do konkretnych kolumn.

In [ ]:
addresses_shortcut = {
        ' st': ' street',
        ' ave': ' avenue',
        ' rd': ' road',
        ' blvd': ' boulevard',
        ' dr': ' drive',
        ' pkwy': ' parkway',
        ' ct': ' court',
        ' ln': ' lane',
        ' pl': ' place',
        ' sq': ' square',
        ' apt': '',
        ' ste': '',
        ' num': ''
    }
for c in ["STREET_NAME", "ADDRESS", "STATE", "LONG_NAME", "FORMATTED_ADDRESS"]:
  for add in addresses_shortcut.keys():
    mask = data[c].str.contains(fr'\b{add}\b')
    data.loc[mask, c] = data.loc[mask, c].str.replace(add, addresses_shortcut[add])

streets = []
keyWords = ["street", "parkway", "avenue", "drive", "road"]
for street_name in data["STREET_NAME"]:
    for keyword in keyWords:
        if keyword in street_name:
            streets.append(street_name)

streets

In [ ]:
# Jeśli wartość z kolumny STREET_NAME znajduje się w listOfBoroughs, a kolumna BOROUGH jest pusta, uzupełniamy kolumnę BOROUGH tą wartością.
data.loc[(data["STREET_NAME"].isin(listOfBoroughs))& (data["BOROUGH"].isna()), "BOROUGH"] = data["STREET_NAME"]

# Uzupełnienie pustych wartości w kolumnie NEIGHBOURHOOD wartością z kolumny STREET_NAME, jeśli nie jest zawarta w liście streets, nie jest równa "new york", nie należy do listOfBoroughs.
data.loc[(data["STREET_NAME"].isin(list(filter(lambda x: (x not in streets) & (x != "new york") & (x not in listOfBoroughs), list(data["STREET_NAME"]))))) & (data["NEIGHBOURHOOD"].isna()), "NEIGHBOURHOOD"] = data["STREET_NAME"]
data.loc[(data["STREET_NAME"].isin(streets)) & (data["STREET"].isna()), "STREET"] = data["STREET_NAME"]

In [ ]:
print(data["STATE"].unique())
# Uzupełnienie pustych wartości w kolumnie POSTCODE wartościami z kolumny STATE.
data.loc[data["POSTCODE"].isna(), "POSTCODE"] = data["STATE"].str.slice(-5)

# Jeżeli BOROUGH jest pusta to weź wartość z kolumny STATE po przecinku - pod warunkiem że należy do listOfBoroughs
data.loc[(data["BOROUGH"].isna()) &(data["STATE"].str.split(", ").str.get(0).isin(listOfBoroughs)) , "BOROUGH"] = data["STATE"].str.split(", ").str.get(0)

# Jeżeli NEIGHBOURHOOD jest pusta to weź wartość z kolumny STATE po przecinku - pod warunkiem że nie należy do listOfBoroughs ani nie jest rowna "new york", "ny", "nyc"
data.loc[(data["NEIGHBOURHOOD"].isna()) & (~(data["STATE"].str.split(", ").str.get(0).isin(listOfBoroughs))) &(~(data["STATE"].str.split(", ").str.get(0).isin(["new york", "ny", "nyc" ]))) , "NEIGHBOURHOOD"] = data["STATE"].str.split(", ").str.get(0)

In [ ]:
data.loc[data["POSTCODE"].isna(), "POSTCODE"] = data["FORMATTED_ADDRESS"].str.split(", ").str.get(-2).str.slice(-5)
data.loc[(data["BOROUGH"].isna()) & (data["FORMATTED_ADDRESS"].str.split(", ").str.get(-3).isin(listOfBoroughs)), "BOROUGH"] = data["FORMATTED_ADDRESS"].str.split(", ").str.get(-3)
data.loc[(data["NEIGHBOURHOOD"].isna()) & (~(data["FORMATTED_ADDRESS"].str.split(", ").str.get(-3).isin(listOfBoroughs))) & (~(data["FORMATTED_ADDRESS"].str.split(", ").str.get(-3).isin(["new york"]))), "NEIGHBOURHOOD"] = data["FORMATTED_ADDRESS"].str.split(", ").str.get(-3)

In [ ]:
data.loc[data["FORMATTED_ADDRESS"].str.split(", ").str.get(-4).str.split().str.get(0).str.replace("-","").str.contains('\d'), "HOUSE_NUMBER"] = data["FORMATTED_ADDRESS"].str.split(", ").str.get(-4).str.split().str.get(0)
data.loc[(data["STREET"].isna()) & (data["FORMATTED_ADDRESS"].str.split(", ").str.get(-4).str.split().str.get(0).str.replace("-","").str.contains('\d')), "STREET"] = data["FORMATTED_ADDRESS"].str.split(", ").str.get(-4).str.split().str.slice(start=1).str.join(" ")
data.loc[(data["STREET"].isna()) & (~(data["FORMATTED_ADDRESS"].str.split(", ").str.get(-4).str.split().str.get(0).str.replace("-","").str.contains('\d'))), "STREET"] = data["FORMATTED_ADDRESS"].str.split(", ").str.get(-4)

In [ ]:
data.loc[(data["LONG_NAME"].str.replace("-", "").str.isdigit()), "HOUSE_NUMBER"] = data["LONG_NAME"]
data.loc[(~(data["LONG_NAME"].str.replace("-", "").str.isdigit())) & (data["STREET"].isna()) & (data["LONG_NAME"] != "parking lot"), "STREET"] = data["LONG_NAME"]

In [ ]:
data.loc[(data["ADDRESS"].str.split(" ").str.get(0).str.replace("-", "").str.isdigit()) & (data["HOUSE_NUMBER"].isna()), "HOUSE_NUMBER"] = data["ADDRESS"].str.split(" ").str.get(0).str.split().str.get(0)

In [ ]:
data.loc[data["ADDRESS"] == "98A-98G Discala Ln", "HOUSE_NUMBER"] = "98A-98G"

Zamiana skrótów kierunków na pełne nazwy, usunięcie zbędnych znaków w nazwach ulic, zamiana liter na małe, usunięcie skrótów i pojedynczych liter w nazwach ulic.
Usunięcie części kolumn i duplikatów.

In [ ]:
import re
data.loc[data["STREET"].str.contains(r'\bE\b'), "STREET"] = data["STREET"].str.replace("e", "east")
data.loc[data["STREET"].str.contains(r'\bW\b'), "STREET"] = data["STREET"].str.replace("w", "west")
data.loc[data["STREET"].str.contains(r'\bS\b'), "STREET"] = data["STREET"].str.replace("s", "south")
data.loc[data["STREET"].str.contains(r'\bN\b'), "STREET"] = data["STREET"].str.replace("n", "north")


data.loc[data["STREET"].str.contains(r' #.*'), "STREET"] = data["STREET"].str.replace(r' #.*', "")
data["STREET"]= data["STREET"].str.replace(".", "")
data["STREET"]= data["STREET"].str.lower()
data["STREET"].unique()

def clean_street_names(street_name):

    parts = street_name.split(' ')
    cleaned_parts = [part for part in parts if re.match(r'^\d*(?:th|st|rd|nd)?$', part) or not any(c.isdigit() for c in part) ]
    cleaned_parts = [part for part in cleaned_parts if not part.isdigit() and len(part) != 1]

    last_part = cleaned_parts[-1] if cleaned_parts else None
    if last_part and any(character.isdigit() for character in last_part):
        cleaned_parts.remove(last_part)

    return ' '.join(cleaned_parts)

data['STREET'] = data['STREET'].apply(clean_street_names)

data['STREET']

In [ ]:
data.columns

In [ ]:
data.drop(columns = ['BROKERTITLE',
       'ADDRESS', 'STATE', 'ADMINISTRATIVE_AREA_LEVEL_2', 'LOCALITY',
       'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME', 'FORMATTED_ADDRESS',
       'PROPERTYSQFT1000'], inplace=True)

In [ ]:
category_columns = list(set(data.columns) - set(numeric_columns))

In [ ]:
for column in category_columns:
    data[column] = data[column].str.lower()

In [ ]:
data.columns

In [ ]:
print('Duplicated rows: ', data.duplicated().sum())
data.drop_duplicates(inplace=True)

In [ ]:
data.to_excel('data.xlsx')

GEOPY
Pobieranie danych adresowych z geolokatora na podstawie współrzędnych geograficznych w celu uzupełnienia danych w kolumnie neighbourhood.

In [ ]:
#kod został zakomentowany aby dane nie zostaly utracone
"""from geopy.geocoders import Nominatim
import pandas as pd

data_api = pd.read_excel('data.xlsx')

data_api['API_ADDRESS_NAME'] = None
data_api['API_ADDRESS'] = None
api_keys = set()

num = 0
geolocator = Nominatim(user_agent="key_for_library1")

api_keys = set()
try:
    # Pętla służąca do pobrania danych dla każdego wiersza w ramce.
    for ind, row in data_api.iterrows():
        latitude = row['LATITUDE']
        longitude = row['LONGITUDE']
        address = geolocator.reverse(f"{latitude},{longitude}")
        data_api.at[ind, 'API_ADDRESS_NAME'] = address.raw['display_name']
        data_api.at[ind, 'API_ADDRESS'] = address.raw
        keys = set(address.raw['address'].keys())
        api_keys.update(keys)
        print(ind)
except Exception as e:
    data_api.to_excel('api.xlsx')

data_api.to_excel('api.xlsx')


data_api = pd.read_excel('api.xlsx')

geolocator = Nominatim(user_agent="key_for_library2")

try:
    # Pętla służąca do pobrania danych dla każdego wiersza w ramce.
    for ind, row in data_api.iterrows():
        if ind>= 2010:
            latitude = row['LATITUDE']
            longitude = row['LONGITUDE']
            address = geolocator.reverse(f"{latitude},{longitude}")
            data_api.at[ind, 'API_ADDRESS_NAME'] = address.raw['display_name']
            data_api.at[ind, 'API_ADDRESS'] = address.raw
            keys = set(address.raw['address'].keys())
            api_keys.update(keys)
            print(ind)
except Exception as e:
    data_api.to_excel('api_2.xlsx')

data_api.to_excel('api_2.xlsx')
print('Ilość kluczy: ',len(api_keys))
print('Klucze: ',api_keys)
"""

In [ ]:
import pandas as pd
import json

api_keys = ['neighbourhood', 'postcode', 'road', 'house_number']

data = pd.read_excel('api_2.xlsx')
for key in api_keys:
    for ind in data.index:
        try:
            row = data.at[ind, 'API_ADDRESS']
            row = str(row).replace("'", "\"")
            row = json.loads(row)
            keys = list(row['address'].keys())
            if key in keys:
                data.at[ind, key] = row['address'][key].lower()
            else:
                data.at[ind, key] = None
        except Exception as err:
            continue
data['NEIGHBOURHOOD'] = data['NEIGHBOURHOOD'].fillna(data['neighbourhood'])
data['NEIGHBOURHOOD'] = data['NEIGHBOURHOOD'].str.lower()
data = data[['TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT', 'LATITUDE', 'LONGITUDE', 'BROKER', 'ANNOUNCEMENT_TYPE', 'BOROUGH', 'STREET', 'POSTCODE', 'HOUSE_NUMBER', 'NEIGHBOURHOOD']]

data.to_excel('cat_api.xlsx')

In [ ]:
data['NEIGHBOURHOOD'] = data['NEIGHBOURHOOD'].fillna('')
data['NEIGHBOURHOOD'] = data['NEIGHBOURHOOD'].apply(lambda x: x if all(borough not in x for borough in listOfBoroughs) and 'bronx' not in x else None)

In [ ]:
grouped_df = data.groupby('NEIGHBOURHOOD').agg({'LATITUDE': ['mean'],
                                      'LONGITUDE': ['mean']})

neighbourhoods = list(set(data['NEIGHBOURHOOD']))

replace_with_closest = list(data[data['NEIGHBOURHOOD']==None].index)
for ind in replace_with_closest:
    x1, y1 = data.loc[ind,'LONGITUDE'], data.loc[ind,'LATITUDE']
    closest_neig,distance = None,10
    for neig in neighbourhoods:
        x2, y2 = grouped_df.loc[neig, ('LONGITUDE', 'mean')], grouped_df.loc[neig, ('LATITUDE', 'mean')]
        distance_check = abs(x1-x2) + abs(y1-y2)
        if distance_check<distance:
            distance = distance_check
            closest_neig = neig
    data.loc[ind,'NEIGHBOURHOOD'] = neig

In [ ]:
data.isna().sum()

In [ ]:
category_columns = list(set(data.columns) - numeric_columns)
numeric_columns = list(numeric_columns)
data[list(category_columns)].nunique()

In [ ]:
sns.heatmap(data[numeric_columns].corr(), annot=True, cmap='Spectral', linewidths=0.5,fmt=".2f", vmax=1, vmin=-1)

In [ ]:
data.to_excel('ssdata.xlsx')

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
numeric_columns.remove('PRICE')
print(len(numeric_columns))

mm_scalers = {}
for column in numeric_columns:
    mm_scalers[column] = MinMaxScaler()
    data[column] = mm_scalers[column].fit_transform(data[column].values.reshape(-1, 1))

In [ ]:
len(category_columns)

In [ ]:
len(data.columns)

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoders = {}
for column in category_columns:
    label_encoders[column] = LabelEncoder()
    data[column] = label_encoders[column].fit_transform(data[column])

In [ ]:
for column in category_columns:
    for class_index, class_name in enumerate(label_encoders[column].classes_):
        print(f"{class_name}: {class_index}")

In [ ]:
plt.figure(figsize=(12, 10))
sns.heatmap(data.corr(), annot=True, cmap='Spectral', linewidths=0.5,fmt=".2f", vmax=1, vmin=-1)

Utworzenie macierzy korelacji dla wszystkich kolumn. 

Stworzenie data_relevant, zawierającej kolumny z dataframe data, których bezwzględna wartość korelacji z cenami nieruchomości wynosi co najmniej 0.03.

In [ ]:
corr_matrix = data.corr()
pairs = []
for i in range(len(corr_matrix.columns)):
  for j in range(i+1, len(corr_matrix.columns)):
    if abs(corr_matrix.iloc[i, j]) > 0.8:
      pairs.append((corr_matrix.columns[i], corr_matrix.columns[j], corr_matrix.iloc[i, j]))

for pair in pairs:
  print(pair)

In [ ]:
corr_matrix = data.corr()
corr_df = pd.DataFrame(abs(corr_matrix['PRICE'].drop('PRICE')).sort_values(ascending=True))
relevant_columns = corr_df[abs(corr_df['PRICE'])>=0.05].index
relevant_columns = list(relevant_columns)
relevant_columns.append('PRICE')
data_relevant = data[relevant_columns]

In [ ]:
plt.figure(figsize=(12, 10))
sns.heatmap(data_relevant.corr(), annot=True, cmap='Spectral', linewidths=0.3,fmt=".3f", vmax=1, vmin=-1)

In [ ]:
data.to_excel('clean_data.xlsx')
data_relevant.to_excel('clean_data_relevant.xlsx')

Analiza głównych składowych PCA na danych: określenie liczby składowych głównych, stworzenie listy składowych głównych i nazw kolumn dla wynikowych składowych głównych, stworzenie instancji klasy PCA. Stworzenie ramki danych zawierającą przekształcone wartości zmiennych za pomocą PCA.

In [ ]:
from sklearn.decomposition import PCA
X = data_relevant.drop(columns =['PRICE'])
y = data_relevant['PRICE']

n_comp = 3
col_names = ['feature_'+str(i) for i in range(0,n_comp)]
pca = PCA(n_components=n_comp)
data_relevant_pca = pd.DataFrame(pca.fit_transform(X), columns = col_names)
print(pca.explained_variance_ratio_)
data_relevant_pca

In [ ]:
data_relevant_pca.to_excel('clean_data_relevant_pca.xlsx')